# -------------------------------
# Azure Functions / .NET
# -------------------------------
bin/
obj/
**/bin/
.vs/
Publish/

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/packages
/TestResults

/tools/NuGet.exe

# -------------------------------
# App Config (IMPORTANT)
# -------------------------------
local.settings.json
appsettings.json

# -------------------------------
# Node / Frontend
# -------------------------------
node_modules/
dist/

# -------------------------------
# Python
# -------------------------------
.python_packages/

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Bytecode
__pycache__/
*.py[cod]
*$py.class

# -------------------------------
# Azurite (Local Storage Emulator)
# -------------------------------
__blobstorage__
__queuestorage__
__azurite_db*__.json
azurite/
*.log

# -------------------------------
# IDE / Editor
# -------------------------------
.vscode/